/* Globals */
html
{
    /* handle background for the element */
    background-color: white;
    
    /* handle overflow in the element */
    overflow: auto;
}

/* ID's */
#Header
{   
    /* position the element */
    position: absolute;
    top: 0px;
    left: 0px;
    
    /* style the element itself */
    box-sizing: border-box;
    background-color: #2c3e50;
    border-bottom: 1px solid #F1C40F;
    
    /* size the element */
    width: 100%;
    height: 13vh;
    
    /* handle text in the element */
    font-family: Aldrich;
    color: #F1C40F;
    font-size: 3vh;
    text-shadow: 3px 6px 1px #000000;
    text-align: center;
    line-height: 300%;
    
    /* place the element on a layer */
    z-index: 2;
}
#Upcoming
{
    /* position the element */
    position: absolute;
    top: 13vh;
    left: 0px;
    
    /* style the element itself */
    box-sizing: border-box;
    background-color: #2c3e50;
    border-bottom: 1px solid #F1C40F;
    
    /* size the element */
    width: 100%;
    height: 9vh;
    
    /* handle text in the element */
    font-family: Aldrich;
    color: #F1C40F;
    font-size: 1.5vh;
    text-shadow: 3px 6px 1px #000000;
    text-align: center;
    line-height: 200%;
    
    /* place the element on a layer */
    z-index: 1;
}
#NavBar
{
    /* position the element */
    position: absolute;
    top: 22vh;
    left: 0px;
    
    /* style the element itself */
    box-sizing: border-box;
    background-color: #34495e;
    
    /* size the element */
    width: 100%;
    height: 5vh;
    
    /* handle text in the element */
    font-family: Aldrich;
    color: #F1C40F;
    font-size: 2vh;
    text-shadow: 3px 6px 1px #000000;
    text-align: center;
    line-height: 150%;
}
#NewsBtn
{
    /* position the element */
    float: left;
    width: 20%;
    height: 100%;
    
    /* style the element itself */
    box-sizing: border-box;
    border-right: 1px solid #F1C40F;
    display: inline-block;
    
    /* handle text in the element */
    line-height: 200%;
}
#RosterBtn, #ScheduleBtn, #PhotosBtn
{
    /* position the element */
    float: left;
    width: 20%;
    height: 100%;
    
    /* style the element itself */
    box-sizing: border-box;
    border-right: 1px solid #F1C40F;
    border-bottom: 1px solid #F1C40F;
    display: inline-block;
    
    /* handle text in the element */
    line-height: 200%;
}
#VideosBtn
{
    /* position the element */
    float: left;
    width: 20%;
    height: 100%;
    
    /* style the element itself */
    box-sizing: border-box;
    border-bottom: 1px solid #F1C40F;
    display: inline-block;
    
    /* handle text in the element */
    line-height: 200%;
}
#NewsWindow
{
    /* position the element */
    position: absolute;
    top: 27vh;
    left: 0px;
    
    /* style the element itself */
    box-sizing: border-box;
    background-color: #1A242F;
    border-bottom: 1px solid #F1C40F;
    
    /* size the element */
    width: 100%;
    height: 100%;
    display: block;
    
    /* handle text in the element */
    font-family: Aldrich;
    color: #F1C40F;
    font-size: 2vh;
    text-shadow: 3px 6px 1px #000000;
    text-align: center;
    line-height: 150%;
}
#RosterWindow, #ScheduleWindow, #PhotosWindow, #VideosWindow
{
    /* position the element */
    position: absolute;
    top: 27vh;
    left: 0px;
    
    /* style the element itself */
    box-sizing: border-box;
    background-color: #1A242F;
    border-bottom: 1px solid #F1C40F;
    
    /* size the element */
    width: 100%;
    height: 100%;
    display: none;
    
    /* handle text in the element */
    font-family: Aldrich;
    color: #F1C40F;
    font-size: 2vh;
    text-shadow: 3px 6px 1px #000000;
    text-align: center;
    line-height: 150%;
}
#Thumbnails
{
    height: 10vh;
    width: 100%;
}
#Thumbnails img
{
    border: 1px solid #F1C40F;
    height: 100%;
    width: 100px;
}
#Previews
{
    padding: 10px;
    height: 50vh;
    width: 100%;
}
#Previews img
{
    border: 3px solid #F1C40F;
    height: 525px;
    width: 700px;
}

/* Classes */
.Button
{
    
}
.Button:hover
{
    /* handle the mouse cursor with this element */
    cursor: pointer;
    
    /* style the element itself */
    background-color: #1A242F;
    
    /* place the element on a layer */
    z-index: 3;
}
.Button-Selected
{
    /* style the element itself */
    background-color: #1A242F;
    
    /* place the element on a layer */
    z-index: 3;
}

.Table
{
    /* size the element */
    width: 100%;
}
.Table tr.nth-child(odd)
{
    /* style the element itself */
    background-color: #055493;  
}
.Table tr.nth-child(even)
{
    /* style the element itself */
    background-color: #6784ce;
}
.Table td
{
    /* style the element itself */
    padding: 7px;
    
    /* handle text in the element */
    text-align: center;  
    font-size: 2vh;
    font-family: Aldrich;
    color:#ffaa56;
}
.Table tr, .Table td
{
    /* style the element itself */
    border: 1px solid #1A242F;   
}
.Table th
{
    /* size the element */
    width: 25%;   
}












